h1 {
    color: aqua;
    text-align: center;
}
.main-header {
    background: lightblue;
    padding: 10px;
    height: 50px;
    color: purple;
    border-radius: 10px;
    position:fixed;
    width: 97vw;
    top: 0;
    right: 0;
    left: 0;
}
.header-div {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}
img {
  width: 500px;
  height: 600px;
  margin-left:30%;
}
.img-info {
    text-align: center;
    height: 50px;
}